<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Subscribe Now!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <!-- <p th:text="'Hello, ' + ${name} + '!'"></p> -->

    <!-- <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Coco"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" placeholder="Lover"><br><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" placeholder="CocoLover@coco.com"><br><br>
        <input type="submit" value="Submit">
    </form> -->

    <h1>Hello CocoLover !</h1>

    <form action="#" th:action="@{/subscribe}" th:object="${subscribe}" method="post">
        <p>First Name: <input type="text" th:field="*{firstName}" /></p>
        <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
        <p>Email: <input type="text" th:field="*{eMail}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>

</html>